<template name="nav">

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href={{pathFor "homeIndex"}}>Virtual Coach</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <ul class="nav navbar-nav">
            <li class={{pathFor "homeIndex"}}><a href="#">Home</a></li>
            <li><a href={{pathFor "homeCommunications"}}>Communications</a></li>
              <li><a href={{pathFor "homeRoster"}}>Roster</a></li>
            <li><a href={{pathFor "homePosts"}}>Posts</a></li>
          </ul>
            <li class="active"><a href="#">Link</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}} <!-- here -->
        </ul>
    </div>
</div>

</template>
